@use "sass:map";

$desktop-font-sizes: (
  xs: 0.7rem,
  sm: 0.85rem,
  md: 1.1255rem,
  lg: 2rem,
  xl: 4rem,
  xxl: 5rem,
  ul: 6rem,
);

$laptop-font-sizes: (
  xs: 0.7rem,
  sm: 0.85rem,
  md: 1.125rem,
  lg: 2rem,
  xl: 4rem,
  xxl: 5rem,
  ul: 6rem,
);

$phone-font-sizes: (
  xs: 0.7rem,
  sm: 0.85rem,
  md: 1.125rem,
  lg: 2rem,
  xl: 4rem,
  xxl: 5rem,
  ul: 6rem,
);

@mixin primary-font {
  font-family: "Roboto", sans-serif;
}

@mixin secondary-font {
  font-family: 'Space Grotesk', sans-serif;
}

@mixin font-size($size) {
  font-size: #{map.get($desktop-font-sizes, $size)};

  @include for-size(tablet-down) {
    font-size: #{map.get($phone-font-sizes, $size)};
  }

  @include for-size(laptop-only) {
    font-size: #{map.get($laptop-font-sizes, $size)};
  }
}
