.about {
  height: 100vh;
  background-color: var(--blue);  
  color: var(--white);
  position: relative;

  &__content {
    display: flex;
    align-items: center;
    padding-top: 1rem;
    margin: auto;
    position: absolute;
    top: calc(50% + var(--header-height)/2);
    transform: translateY(-50%);
    left: 0;
  }

  &__img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: 10;
    position: relative;

    &-container {
      width: 30%;
      height: 55vh;
      position: relative;
      transform: translateX(calc(-100% - 1rem));
      transition: transform 250ms;
  
      &::before {
        content: '';
        background-color: var(--white);
        width: calc(100% + 1rem);
        height: calc(100% + 2rem);
        position: absolute;
        top: -1rem;
      }
    }
  }

  &__text {
    @include font-size(md);
    line-height: 1.5em;
    width: 50%;
    padding: 0 var(--wrapper-padding);
    flex: 1;
    transform: translateX(calc(100% + var(--wrapper-padding)));
    transition: transform 1000ms;

    p {
      margin-bottom: 1rem;
    }
  }

  .visible {
    transform: translateX(0);
    transition: transform 1000ms;
  }
}