.about {
  background-color: var(--blue);  
  color: var(--white);
  position: relative;

  @include for-size(laptop-up) {
    height: 100vh;
  }

  @include for-size(tablet-down) {
    padding-bottom: 6rem;
  }

  &__content {
    display: flex;
    align-items: center;
    padding-top: 1rem;
    margin: auto;

    @include for-size(laptop-up) {
      position: absolute;
      top: calc(50% + var(--header-height)/2);
      transform: translateY(-50%);
      left: 0;
    }

    @include for-size(tablet-down) {
      flex-direction: column;
    }
  }

  &__img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: top;
    z-index: 10;
    position: relative;

    &-container {
      width: 33%;
      height: 55vh;
      position: relative;
      z-index: 1;

      @include for-size(laptop-up) {
        transform: translateX(calc(-100% - 1rem));
        transition: transform 250ms;
      }

      @include for-size(tablet-down) {
        width: 50%;
        height: auto;
      }

      @include for-size(phone-only) {
        width: calc(90vw - 2rem);
      }
  
      &::before {
        content: '';
        background-color: var(--white);
        width: calc(100% + 1rem);
        height: calc(100% + 2rem);
        position: absolute;
        top: -1rem;

        @include for-size(tablet-down) {
          width: calc(100% + 2rem);
          left: -1rem;
        }
      }
    }
  }

  &__text {
    @include font-size(md);
    line-height: 1.5em;
    width: 50%;
    padding: 0 calc(1.5*var(--wrapper-padding));
    flex: 1;

    @include for-size(laptop-up) {
      transform: translateX(calc(100% + var(--wrapper-padding)));
      transition: transform 1s 1s;
    }

    @include for-size(tablet-down) {
      width: 100%;
      padding: 0 var(--wrapper-padding);
      margin-top: 3rem;
    }

    p {
      margin-bottom: 1rem;
    }
  }

  .visible {
    transform: translateX(0);
    transition: transform 500ms 500ms;
  }

  &__resume {
    font-size: 1rem;
    text-decoration: underline;

    &:hover {
      opacity: 0.8;
    }
  }
}