.contact {
  height: 100vh;
  background-color: var(--blue);
  color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__container {
    width: calc(100% - 2*var(--wrapper-padding));
    padding: 3rem 0;
    display: flex;
    gap: 17vw;
    border-top: 2px solid var(--white);
    margin: 0 auto;

    @include for-size(tablet-down) {
      flex-direction: column;
      gap: 3rem;
    }
  }

  &__data {
    display: flex;
    align-items: baseline;
  
    @include for-size(phone-only) {
      flex-direction: column;
    }

    &-title {
      @include font-size(lg);
      font-weight: bold;
      padding-right: 3rem;

      @include for-size(phone-only) {
        margin-bottom: 2rem;
      }
    }

    &-link {
      font-size: 1.5rem;
      margin-bottom: 1.5rem;
      display: flex;
      align-items: center;

      @include for-size(phone-only) {
        @include font-size(md);
      }

      &:hover {
        text-decoration: underline;
      }

      &-icon {
        width: 1.8rem;
        margin-right: 1rem;

        @include for-size(phone-only) {
          width: 1.4rem;
          margin-right: 0.5rem;
        }
      }
    }

    &-group {
      display: flex;
      flex-direction: column;
    }
  }
}