.hero {
  height: calc(100vh -  var(--header-height));
  padding: 0 var(--wrapper-padding);
  display: flex;
  align-items: center;
  position: relative;

  &__text {
    @include secondary-font;
    @include font-size(ul);
    font-weight: bold;
  }

  .cursor {
    display: inline;
    margin-left: 2px;
    color: var(--gray)
  }
  
  .cursor::after {
    content: '|';
    animation: blink-caret 0.7s infinite;
  }
  
  @keyframes blink-caret {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }  

  &__button {
    opacity: 0;
  }
}