.work {
  height: 100vh;
  color: var(--blue);
  position: relative;

  &__list {
    max-height: 75vw;
    overflow-y: scroll;
    padding: 2rem var(--wrapper-padding);

    &-item {
      @include font-size(lg);
      display: flex;
      padding: 1.5rem 0;
      border-bottom: 1px solid var(--blue);
      gap: 2rem;
      transform: translateX(calc(-100% - 2*var(--wrapper-padding)));

      &.visible {
        transform: translateX(0);
        transition: 250ms;
      }

      &-icon {
        width: 2rem;
        box-sizing: content-box;
      }
    }
  }
}