.work {
  min-height: 100vh;
  color: var(--blue);
  position: relative;

  @include for-size(laptop-up) {
    height: 100vh;
  }

  @include for-size(tablet-down) {
    padding-bottom: 6rem;
  }

  &__accordion {
    overflow-y: scroll;
    padding: 0 var(--wrapper-padding) 2rem;

    @include for-size(laptop-up) {
      max-height: 75vw;
    }

    &-item {
      $this: &;
      display: flex;
      flex-wrap: wrap;
      padding: 1rem 0;
      border-bottom: 1px solid var(--blue);
      transform: translateX(calc(-100% - 2*var(--wrapper-padding)));

      &.visible {
        transform: translateX(0);
        transition: transform 1s 250ms;
      }

      &-icon {
        width: 2rem;
        display: inline-block;
        box-sizing: content-box;
        transition: all 500ms;

        @include for-size(phone-only) {
          width: 1.5rem;
        }
      }

      &-title {
        @include font-size(lg);
        width: 100%;
        display: flex;
        gap: 2rem;
        padding: 0.5rem 0;
        cursor: pointer;

        @include for-size(phone-only) {
          gap: 1rem;
        }

        &:hover {
          opacity: 0.8;
        }

        &.expanded {
          #{$this}-icon {
            transform: rotate(90deg);
            transition: all 500ms;            
          }
        }
      }

      &-content {
        display: flex;
        flex-direction: column;
        padding: 0 2rem;
        height: 0;
        overflow: hidden;
        transition: all 500ms;

        p {
          margin-bottom: 1rem;
        }

        ul {
          display: flex;
          gap: 0.5rem;
          margin-bottom: 1rem;

          li {
            background-color: var(--blue);
            color: var(--white);
            padding: 0.5rem;
          }
        }
      }

      &-group {
        display: flex;
        margin-top: 0.5rem;
      }

      &-button {
        font-size: 1rem;
        text-decoration: underline;
        font-weight: bold;

        &:first-of-type {
          &:after {
            content: '|';
            padding: 0.5rem;
          }
        }

        &:hover {
          opacity: 0.8;
        }
      }
    }
  }
}